<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
  {% block htmlhead %}
    <title>{% block title %}Home{% endblock %} | Tsutsromo travel stories</title>
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link href="/feed.atom" rel="alternate" title="Recent Blog Posts" type="application/atom+xml">
    {%- for link in links %}
    <link rel="{{ link.rel }}" href="{{ link.href }}"{%
      if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
    {%- endfor %}
  {% endblock %}
  </head>
  <body>
    <div class=container>
      <div class="header">
      </div>
      <div class=navigation>
        <ul>
            <li><a href="/">blog</a></li>
            <li><a href="/about/">cv</a></li>
            <li><a href="https://texr.net">texr</a></li>
            <li><a href="/archive/">archive</a></li>
            <li><a href="/tags/">tags</a></li>
        </ul>
      </div>
      <div class=body>
      {% block body %}{% endblock %}

      {% if rst %}
      {% include "disqus.html" %}
      {% endif %}
      </div>
      <div class=footer>
        <p>
          It`s my life: 
          <a href="http://twitter.com/ilyamuromec">twitter</a>,
          <a href="http://github.com/muromec">github</a> and
          <a href="mailto:ilya.muromec@gmail.com">mail</a>,
        (<a href="/feed.atom" rel="alternate" title="Recent Blog Posts">feed</a>)
        </p>
        <p>
          Папа, а на том берегу наші? Там кацапи. Всі зловісно мовчать,  Поїзд зупиняється, чути крики «приїхали» і погрозливий гуркіт моря.
        <!-- IPv6-test.com button BEGIN -->
        <a href='http://ipv6-test.com/validate.php?url=referer'><img
            src='http://ipv6-test.com/button-ipv6-80x15.png' alt='ipv6 ready'
            title='ipv6 ready' border='0' /></a>
        <!-- IPv6-test.com button END -->
        </p>
        <p>
          Респекты и лайки слать биткоинами: 15qmFc9MR8z8YFBqkHcSoQGGxQgVrWdn7S
        </p>
      </div>
    </div>
  </body>
</html>
